# AbstractHorse inventory
public net.minecraft.world.entity.animal.horse.AbstractHorse inventory
# Data generation
public net.minecraft.data.tags.ItemTagsProvider copy(Lnet/minecraft/tags/TagKey;Lnet/minecraft/tags/TagKey;)V
public net.minecraft.data.models.BlockModelGenerators blockStateOutput
public net.minecraft.data.models.BlockModelGenerators modelOutput
public net.minecraft.data.models.BlockModelGenerators delegateItemModel(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.models.BlockModelGenerators delegateItemModel(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.models.BlockModelGenerators createHorizontallyRotatedBlock(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/data/models/model/TexturedModel$Provider;)V
public net.minecraft.data.models.ItemModelGenerators output
public net.minecraft.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Ljava/lang/String;Lnet/minecraft/data/models/model/ModelTemplate;)V
public net.minecraft.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/data/models/model/ModelTemplate;)V
public net.minecraft.data.models.model.TextureSlot create(Ljava/lang/String;)Lnet/minecraft/data/models/model/TextureSlot;
