# gradle

.gradle/
.kotlin/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.factorypath
.project

# macos

*.DS_Store

# fabric

run/

.env
Peripheralium-*
Modding-Libs-*
Libs-*
**/logs/

Libs-*/
.opencode
.kotlin
.factorypath
