export TF_VAR0
export TF_VAR0
# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

.env
Peripheralium-*
Modding-Libs-*
Libs-*
**/logs/
.opencode
.kotlin
.factorypath
